*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(160, 206, 247);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider{
    border-radius: 20px;
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}


.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}


.slide{
    transition: 1s;
    width: 25%;
    position: relative;
}


.slide img{
    width: 100%;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    top: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}


.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.manual-btn:hover{
    background: #fff;
}


#radio1:checked ~ .first{
margin-left: 0;
}
#radio2:checked ~ .first{
margin-left: -25%;
}
#radio3:checked ~ .first{
margin-left: -50%;
}
#radio4:checked ~ .first{
margin-left: -75%;
}


.navigation-auto div{
border: 2px solid rgb(4, 138, 255);
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 0.2s;
}


.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 357px;
    display: flex;
    justify-content: center;
    gap: 10px;
}


#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #fff;
}



