body{
    margin: 0;
    padding: 0;
    background-image: url(fundo.jpg);
    background-size: 500px;
}

.td{
    display: flex;
}




.aba{
    transition: 0.2s;
    border: 15px solid khaki;
    border-radius: 10px;
    background-image: url(fundo2..jpeg);
    background-size: 200px;
    width: 0px;
    height: 715px; 
}

 .aba:hover{
  transition: 0.3s;
    width: 400px;
    height: 900px;   
}


.bo{
    font-size: 0px;
}


.aba:hover > .bo{
    transition: 0.5s;
    text-align: center;
    border-radius: 20px;
    margin: 70px;
    color: green;
    background: greenyellow;
    height: 53px;
    font-size: 20px;
}



.aba:hover >.bo:hover{
    background: rgb(159, 200, 93);
    transition: 0.1s;
}










.gala{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 0px;
}
.gala h2,p,a{
    font-size: 0px;
}


.aba:hover > .gala{
    transition: 0.5s;
    text-align: center;
    border-radius: 20px;
    margin: 70px;
    color: midnightblue;
    background: mediumturquoise;
    height: 53px;
    font-size: 20px;
}



.aba:hover >.gala:hover {
    color:  white;
    transition: 0.3s;
    background-size: 200px;
    background-image: url(gala.webp) ;
 height: 300px;
 width: 400px;
 margin: 0;
}



.aba:hover >.gala:hover h2  {
    font-size: 20px;
}
.aba:hover >.gala:hover p  {
    font-size: 20px;
}
.aba:hover >.gala:hover a  {
    font-size: 20px;
    color: white;
}













.flor{
    font-family: 'Playball', cursive;
    font-size: 0px;
}
.flor h2,p,a{
    font-size: 0px;
}

.aba:hover > .flor{
    transition: 0.5s;
    text-align: center;
    border-radius: 20px;
    margin: 70px;
    color: orchid;
    background: pink;
    height: 53px;
    font-size: 20px;
}



.aba:hover >.flor:hover{
    color:  white;
    transition: 0.3s;
    background-size: 300px;
    background-image: url(flor.webp) ;
    height: 300px;
 width: 400px;
 margin: 0;
}

.aba:hover >.flor:hover h2  {
    font-size: 20px;
}
.aba:hover >.flor:hover p  { font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}
.aba:hover >.flor:hover a  { font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: white;
}






.loco{
    font-family: 'Dancing Script', cursive;
    font-size: 0px;
}
.loco h2,p,a{
    font-size: 0px;
}

.aba:hover > .loco{
    transition: 0.5s;
    text-align: center;
    border-radius: 20px;
    margin: 70px;
    color: black;
    background: gold;
    height: 53px;
    font-size: 20px;
}



.aba:hover >.loco:hover{
    color:  white;
    transition: 0.3s;
    background-size: 200px;
    background-image: url(loco.webp) ;
    height: 300px;
 width: 400px;
 margin: 0;
}
.aba:hover >.loco:hover h2  {
    font-size: 20px;
}
.aba:hover >.loco:hover p  { font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}
.aba:hover >.loco:hover a  { font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: white;
}







.for{
    font-family: 'Archivo Black', sans-serif;
    font-size: 0px;
}
.for h2,p,a{
    font-size: 0px;
}

.aba:hover > .for{
    transition: 0.5s;
    text-align: center;
    border-radius: 20px;
    margin: 70px;
    color: dodgerblue;
    background: orange;
    height: 53px;
    font-size: 17px;
}



.aba:hover >.for:hover{
    color:  white;
    transition: 0.3s;
    background-size: 200px;
    background-image: url(for.webp) ;
    height: 300px;
 width: 400px;
 margin: 0;
}
.aba:hover >.for:hover h2  {
    font-size: 20px;
}
.aba:hover >.for:hover p  { font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}
.aba:hover >.for:hover a  { font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: white;
}















.gero{
    font-family: 'Oxygen Mono', monospace;
    font-size: 0px;
}
.gero h2,p,a{
    font-size: 0px;
}

.aba:hover > .gero{
    transition: 0.5s;
    text-align: center;
    border-radius: 20px;
    margin: 70px;
    color: darkolivegreen;
    background: rgb(26, 34, 8);
    height: 53px;
    font-size: 20px;
}



.aba:hover >.gero:hover{
    color:  white;
    transition: 0.3s;
    background-size: 200px;
    background-image: url(gero.jpg) ;
    height: 300px;
 width: 400px;
 margin: 0;
}
.aba:hover >.gero:hover h2  {
    font-size: 20px;
}
.aba:hover >.gero:hover p  { font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}
.aba:hover >.gero:hover a  { font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: white;
}





.not{
    transition: 0.3s;
    font-family: 'Bebas Neue', sans-serif;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
height: 75px;
width: 150px;
background: khaki;
color: orange;

}
.not ion-icon{
width: 0;
}
.not:hover{
    align-items: center;
    transition: 0.3s;
    background-size: 100px;
    background-image: url(fundo2..jpeg);
    color: white;
    height: 150px;   
}

.not:hover ion-icon{
    transition: 0.1s;
    height: 60px;
    width: 60px;
}














